.head{
background-color: black;
padding:15px;
text-align: center;
height:7vh;
}

.head > p{
  font-size: 20px;
  color: white;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left{
  padding:0;
  height:93vh;
  border-right: 1px solid black;
}

.right{
  padding: 20px;
  border-left:2px solid black;
  height:93vh;
  background-color: #ddecfc;

}

.repos{
  overflow-y: scroll;
  height:83vh;
  background-color: #ddecfc;
}

.repos::-webkit-scrollbar{
  width:5px;
}

.repos::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.repos::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategray;
  border-radius: 40px;
  
}

.repo-body{
  
  
  padding:15px;
  background-color: #ddecfc;
  
}

.repo-body-sub{
  cursor:pointer;
  background-color: white;
  padding:10px;
  border-radius: 10px;
}

.active{
  
  background-color: bisque;
}

.repo-utils{
  display:flex;
  justify-content: space-between;
  padding:0px 50px;
}

.repo-utils > .subitem > span{
  font-size: 20px;
} 

.main-subitem{
  display:flex;
  justify-content: flex-start;
}

.repo-name{
  color: #0969da;
  font-size: 22px;
  font-weight: 600;
  overflow: hidden;
}

.repo-type{
  margin-left:20px;
  align-self: center;
}

.repo-type > P{
  border:2px solid rgb(240, 230, 230);
  align-self: center;
  border-radius: 10px;
  padding:0 5px;
  font-size: 15px;
  
}

.repo-desc{
  font-size: 18px;
  overflow-wrap: break-word;
}

.fa-code{
  color: red;
  
}
.fa-star{
  color: green;
}



.contain-plus{
  height:10vh;
  border-top:2px solid black;
  
}

.contain-add{
  background-color: #ddecfc;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.repo-add{
  
  color: white;
  padding: 8px 40px;
  border-radius: 13px;
  background-color: black;
  border:2px solid black;
  font-size:25px;
    
}


.fa-plus{
  color: black;
  padding: 20px;
  border-radius: 50%;
    
}

.delete{
  width:100%;
  padding:8px;
  display: flex;
  justify-content: space-between;
  height:10vh;
}


.delete > p{
  padding:10px;
  background-color: white;
  color: black;
  border:1px solid black;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.delete > p:hover{
background-color: blanchedalmond;
}

.tabs{
  height:calc(83vh - 40px);
}

.tabs > ul{
  display: flex;
  border:2px solid black;
  padding-left:0px;
  height:7vh;
}

.tabs > ul > li{
  list-style: none;
  width:34%;
  padding:10px;
  display: flex;
  justify-content: center;
  background-color: greenyellow;
  cursor: pointer;
}

.tabs > ul > li:nth-child(1){
  border-right:2px solid black;
}

.tabs > ul > li:nth-child(2){
  border-right:2px solid black;
}

.tabs > ul > li > p{
  font-size: 20px;
  
  color: black;
  text-align: center;
}


.react-modal{
  position: absolute;
  top:200px;
  bottom:200px;
  left:35%;
  right:35%;
  background:#ddecfc;
  border:2px solid black;
  padding:20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  
}

.react-modal > h2{
  text-align: center;
  background-color: white;
  width:80%;
  padding:5px;
  border-radius:10px;
  margin:0px auto;
}

.react-modal > form{
  display: flex;
  flex-direction: column;
  margin-top:40px;
  background-color: white;
  border-radius: 10px;
  padding:15px;
  padding-bottom: 20px !important;
}


.react-modal > form >  label{
  font-size: 20px;
  margin-top:10px;
}

.react-modal > form > input[type="text"]{
height:40px;
margin-top:10px;
padding:10px;
font-size: 20px;
border-radius:5px;
border:1px solid lightseagreen;
}

.react-modal > form > input[type="text"]:focus{
  outline:none;
}

.react-modal > form >  button{
  color: #fff;
  background-color: black;
  margin-top: 20px;
  height:40px;
  font-size: 20px;
  width:30%;
  align-self:center

}



.branches::-webkit-scrollbar{
  width:5px;
}

.branches::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.branches::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategray;
  border-radius: 40px;
}

.branches{
  margin-top:-17px;
  border:2px solid black;
  height:calc(76vh - 40px);
  overflow-y: scroll;
}

.null-tab{
  margin-top:-17px;
  border:2px solid black;
  height:calc(76vh - 40px);
}

.branch{
  
  background-color: #ddecfc;
  padding:10px;
}

.branch-sub{
background-color: white;
padding:10px;
cursor: pointer;
border-radius: 10px;
font-size: 25px;

}


.issues{
  margin-top:-17px;
  border:2px solid black;
  height:calc(76vh - 40px);
  overflow-y: scroll;

}

.issue{
  
  padding:10px;
}

.issue-sub{
  background-color: white;
  padding:10px;
  cursor: pointer;
  border-radius: 10px;
  
}

.issues::-webkit-scrollbar{
  width:5px;
}

.issues::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.issues::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategray;
  border-radius: 40px;
}

.issue >.issue-sub> p{
  font-size: 20px;
  font-weight:600;
}

.issue-item{
  display: flex;
  justify-content: flex-start;
}

.issue-item .issue-item-p{
  margin-left:5px;
}

.issue-item img{
  border-radius: 50%;
  margin-left:5px;
}

.commits{
  margin-top:-17px;
  border:2px solid black;
  height:calc(76vh - 40px);
  overflow-y: scroll;

}

.commits::-webkit-scrollbar{
  width:5px;
}

.commits::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.commits::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategray;
  border-radius: 40px;
}

.commit{
  padding:10px;
  
}

.commit-sub{
  background-color: white;
  padding:10px 20px;
  cursor: pointer;
  border-radius: 10px;
}



.commit .date{
font-weight: bolder;
font-size: 20px;
}

.commit .msg{
  font-size: 20px;
  overflow-wrap: break-word;
  color: #0969da;
} 

.commit-item{
  display: flex;
}

.commit-item > img{
  border-radius: 50%;
  border:1px solid black;
}

.commit-item > p{
  margin-left:10px;
  font-size: 20px;
}

.fa-bars{
  color: white;

  top:calc((7vh - 50px)/2);
  visibility: hidden;
  right: 5px;
}

/* Making responsive */
@media only screen and (max-width:800px){
.fa-bars{
  visibility: visible;
  position: absolute;
  top: calc((7vh - 30px)/2);
  right:10px; 
}

.head > p{
  line-height: 3vh;
}

.main{
width: 100vw;
}

.left{
  width: 100%;
  height:93vh;
  position: fixed;
  left:0;
  z-index: 0;
  visibility: hidden;
}


.right{
width: 100%;
height:93vh;
position: fixed;
left:0;
visibility: hidden;

}

.isActive{
  visibility: visible;
  
}

.react-modal{
  z-index: 50000 !important;
  position:absolute;
  top:100px;
  bottom: 100px;
  left:10%;
  right:10%;
  
}

.delete > p{
  align-self: center;
}

}



